/* line 1, ../sass/global/_base.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* line 3, ../sass/global/_formatting.scss */
.no-bullets {
  list-style-type: none;
  padding: 0;
}

/* line 7, ../sass/global/_formatting.scss */
.no-resize {
  resize: none;
}

/* line 11, ../sass/global/_formatting.scss */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/global/_formatting.scss */
.no-padding {
  padding: 0;
}

/* line 16, ../sass/global/_formatting.scss */
.no-margin {
  margin: 0;
}

/* line 20, ../sass/global/_formatting.scss */
.inline {
  display: inline;
}

/* line 21, ../sass/global/_formatting.scss */
.block {
  display: block;
}

/* line 22, ../sass/global/_formatting.scss */
.inline-block {
  display: inline-block;
}

/* line 23, ../sass/global/_formatting.scss */
.absolute {
  position: absolute;
}

/* line 24, ../sass/global/_formatting.scss */
.no-overflow {
  overflow: hidden;
}

/* line 28, ../sass/global/_formatting.scss */
.fixed {
  position: fixed;
}

/* line 29, ../sass/global/_formatting.scss */
.pos-right {
  right: 0;
}

/* line 30, ../sass/global/_formatting.scss */
.pos-left {
  left: 0;
}

/* line 31, ../sass/global/_formatting.scss */
.pos-bottom {
  bottom: 0;
}

/* line 32, ../sass/global/_formatting.scss */
.pos-top {
  top: 0;
}

/* line 33, ../sass/global/_formatting.scss */
.relative {
  position: relative;
}

/* line 34, ../sass/global/_formatting.scss */
.right {
  float: right;
}

/* line 35, ../sass/global/_formatting.scss */
.left {
  float: left;
}

/* line 36, ../sass/global/_formatting.scss */
.clear {
  clear: both;
}

/* line 37, ../sass/global/_formatting.scss */
.clear-after:after {
  content: '';
  display: block;
  clear: both;
}

/* line 38, ../sass/global/_formatting.scss */
.center-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 39, ../sass/global/_formatting.scss */
.center-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 40, ../sass/global/_formatting.scss */
.center-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 41, ../sass/global/_formatting.scss */
.center-left {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0 auto;
}

/* line 42, ../sass/global/_formatting.scss */
.center-right {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
}

/* line 46, ../sass/global/_formatting.scss */
.center {
  text-align: center;
}

/* line 47, ../sass/global/_formatting.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 48, ../sass/global/_formatting.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 49, ../sass/global/_formatting.scss */
.no-wrap {
  white-space: nowrap;
}

/* line 50, ../sass/global/_formatting.scss */
.align-left {
  text-align: left;
}

/* line 51, ../sass/global/_formatting.scss */
.align-right {
  text-align: right;
}

/* line 55, ../sass/global/_formatting.scss */
.full-width {
  width: 100%;
}

/* line 56, ../sass/global/_formatting.scss */
.full-height {
  height: 100%;
  display: block;
}

/* line 57, ../sass/global/_formatting.scss */
.no-width {
  width: 0;
}

/* line 58, ../sass/global/_formatting.scss */
.no-height {
  height: 0;
}

/* line 59, ../sass/global/_formatting.scss */
.col-6-max-width {
  max-width: 490px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  /* line 59, ../sass/global/_formatting.scss */
  .col-6-max-width {
    float: none;
  }
}

/* line 62, ../sass/global/_formatting.scss */
.max-fill {
  max-width: 100%;
}

/* line 63, ../sass/global/_formatting.scss */
.two-column {
  width: 50%;
}

/* line 64, ../sass/global/_formatting.scss */
.three-column {
  width: 33.333%;
}

/* line 65, ../sass/global/_formatting.scss */
.four-column {
  width: 25%;
}

/* line 66, ../sass/global/_formatting.scss */
.five-column {
  width: 20%;
}

/* line 67, ../sass/global/_formatting.scss */
.five-double-column {
  width: 40%;
}

/* line 68, ../sass/global/_formatting.scss */
.six-column {
  width: 16.666%;
}

/* line 69, ../sass/global/_formatting.scss */
.seven-column {
  width: 14.286%;
}

/* line 70, ../sass/global/_formatting.scss */
.eight-column {
  width: 12.5%;
}

/* line 71, ../sass/global/_formatting.scss */
.nine-column {
  width: 11.111%;
}

/* line 72, ../sass/global/_formatting.scss */
.ten-column {
  width: 10%;
}

/* line 73, ../sass/global/_formatting.scss */
.eleven-column {
  width: 9.091%;
}

/* line 74, ../sass/global/_formatting.scss */
.twelve-column {
  width: 8.333%;
}

/* line 1, ../sass/global/_fonts.scss */
.font-large {
  font-size: 24px;
}

/* line 5, ../sass/global/_fonts.scss */
.font-medium {
  font-size: 14px;
}

/* line 1, ../sass/modules/_site-intro.scss */
#site-intro-wrapper {
  background: url(../../images/background.jpg);
  background-size: cover;
}

/* line 6, ../sass/modules/_site-intro.scss */
#site-intro-form {
  height: 200px;
}

/* line 10, ../sass/modules/_site-intro.scss */
#site-intro-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 16, ../sass/modules/_site-intro.scss */
.site-intro-cloud {
  width: 1100px;
}

/* line 20, ../sass/modules/_site-intro.scss */
#site-intro-cloud1 {
  top: -10%;
  left: -20%;
}

/* line 25, ../sass/modules/_site-intro.scss */
#site-intro-cloud2 {
  top: 10%;
  left: 70%;
}

/* line 30, ../sass/modules/_site-intro.scss */
#site-intro-cloud3 {
  top: 50%;
  left: 20%;
}

/* line 1, ../sass/modules/_form.scss */
.form-input {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #222;
}
/* line 6, ../sass/modules/_form.scss */
.form-input::-webkit-input-placeholder {
  color: #444;
}
/* line 7, ../sass/modules/_form.scss */
.form-input:-moz-placeholder {
  color: #444;
}
/* line 8, ../sass/modules/_form.scss */
.form-input::-moz-placeholder {
  color: #444;
}
/* line 9, ../sass/modules/_form.scss */
.form-input:-ms-input-placeholder {
  color: #444;
}

/* line 1, ../sass/modules/_btn.scss */
.btn-primary {
  padding: 5px 30px;
}

/* line 5, ../sass/modules/_btn.scss */
.btn-rounded {
  border-radius: 5px;
}
